# vim shit
.*.swp
tags

# MacOS DS files
.DS_Store

# Compiled python
*.pyc

# Project files
*.project

# Distribution / packaging
.Python
env/
.ipynb_check*
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

*.egg-info/
*.egg
*.idea/

# virtual environments
venv*
